
VH/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
VH/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
VH/bin/Debug/VH.exe
VH/bin/Debug/VH.exe.config
VH/bin/Debug/VH.pdb
VH/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
VH/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
VH/bin/Release/VH.exe
VH/bin/Release/VH.exe.config
VH/bin/Release/VH.pdb
.vs/VH/v16/.suo
VH/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VH/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
VH/obj/Debug/VH.csproj.CopyComplete
VH/obj/Debug/VH.csproj.CoreCompileInputs.cache
VH/obj/Debug/VH.csproj.FileListAbsolute.txt
VH/obj/Debug/VH.csproj.GenerateResource.cache
VH/obj/Debug/VH.csprojAssemblyReference.cache
VH/obj/Debug/VH.exe
VH/obj/Debug/VH.MaskForm.resources
VH/obj/Debug/VH.pdb
VH/obj/Debug/VH.PreviewBar.resources
VH/obj/Debug/VH.Properties.Resources.resources
VH/obj/Debug/VH.RnD.resources
VH/obj/Debug/VH.SideBar.resources
VH/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VH/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
VH/obj/Release/VH.csproj.CopyComplete
VH/obj/Release/VH.csproj.CoreCompileInputs.cache
VH/obj/Release/VH.csproj.FileListAbsolute.txt
VH/obj/Release/VH.csproj.GenerateResource.cache
VH/obj/Release/VH.exe
VH/obj/Release/VH.MaskForm.resources
VH/obj/Release/VH.pdb
VH/obj/Release/VH.PreviewBar.resources
VH/obj/Release/VH.Properties.Resources.resources
VH/obj/Release/VH.RnD.resources
VH/obj/Release/VH.SideBar.resources
