VH/bin/Debug/
!VH/bin/Debug/dll/
!VH/bin/Debug/Newtonsoft.Json.dll
!VH/bin/Debug/OpenCvSharp.Blob.dll
!VH/bin/Debug/OpenCvSharp.dll
!VH/bin/Debug/OpenCvSharp.Extensions.dll
VH/bin/Release/
!VH/bin/Release/dll/
!VH/bin/Release/Newtonsoft.Json.dll
!VH/bin/Release/OpenCvSharp.Blob.dll
!VH/bin/Release/OpenCvSharp.dll
!VH/bin/Release/OpenCvSharp.Extensions.dll
.vs/
VH/obj/