
VH/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
VH/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
VH/bin/Debug/VH.exe
VH/bin/Debug/VH.exe.config
VH/bin/Debug/VH.pdb
VH/bin/Debug/Record/
VH/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
VH/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
VH/bin/Release/VH.exe
VH/bin/Release/VH.exe.config
VH/bin/Release/VH.pdb
VH/bin/Release/Record/
.vs/VH/v16/.suo
VH/obj/