<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VH.Properties.Settings>
            <setting name="Screen_cb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Move_cb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Object_cb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="YValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Autohide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Message" serializeAs="String">
                <value />
            </setting>
            <setting name="PointObject_cb" serializeAs="String">
                <value>True</value>
            </setting>
        </VH.Properties.Settings>
    </userSettings>
</configuration>